@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

.navbakerylogo {
  width: 90px;
  margin-left: 35px;
}

.footerbakerylogo {
  width: 180px;
}

.imgfilter:hover {
  filter: grayscale(50%);
}

.posbadge {
  position: absolute;
  right: 0px;
  top: 0px;
}

.posmodalnew {
  position: relative;
  bottom: 6px;
  left: 6px;
}

.title {
  font-family: "Great Vibes", cursive;
}

footer {
  padding: 30px 0px;
}

/* media queries */
@media all and (max-width: 767px) {
  .sliderresponsive {
    height: 250px;
    object-fit: cover;
  }

  .cardsize {
    margin: 12px 0px;
  }

  .footerbakerylogo {
    width: 150px;
  }

  .navbakerylogo {
    margin-left: 18px;
  }
}

@media all and (min-width: 768px) {
  .footerbakerylogo {
    position: relative;
    left: 30px;
  }
}

@media all and (min-width: 992px) {
  .navflex {
    padding-right: 110px;
    display: flex;
    justify-content: end;
  }
}

@media all and (min-width: 1400px) {
  .marginsection {
    padding: 0px 0px 0px 125px;
  }

  .footerbakerylogo {
    left: 150px;
  }
}
