@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

footer {
  padding: 30px 0px;
}

ul {
  list-style-position: inside;
}

.navbakerylogo {
  width: 90px;
  margin-left: 35px;
}

.footerbakerylogo {
  width: 180px;
}

.imgfilter:hover {
  filter: grayscale(50%);
}

.posbadge {
  position: absolute;
  right: 0px;
  top: 0px;
}

.posmodalnew {
  position: relative;
  bottom: 6px;
  left: 6px;
}

.title {
  font-family: "Great Vibes", cursive;
}

.error404 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.positionfooter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#pagenotfound {
  font-size: 200px;
}

#positionimageaboutus {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* media queries */
@media all and (max-width: 575px) {
  footer {
    font-size: small;
    text-align: center;
  }

  .positionfooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #pagenotfound {
    font-size: 130px;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  footer {
    font-size: small;
    text-align: center;
  }

  .sliderresponsive {
    height: 250px;
    object-fit: cover;
  }

  .cardsize {
    margin: 12px 0px;
  }

  .footerbakerylogo {
    width: 150px;
  }

  .navbakerylogo {
    margin-left: 18px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  footer {
    font-size: small;
    text-align: center;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  .navbarposition {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 50px;
  }
}

@media all and (min-width: 1200px) {
  .navbarposition {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 50px;
  }
}
